doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title About page
        script(src="https://code.jquery.com/jquery-3.1.0.js", integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=", crossorigin="anonymous")
        style.
            .img {
                width: 300px;
            }
    body.content
        p#appHome
        hr

        div#appVue
            input(type="text", v-model="msg")
            p {{msg}}
        hr

        p#appJQuery
        hr

        p
            img.img(src="./assets/eat.jpg", alt="Eat")

        //script.
            home.oldJs('TEST')
            //home.TestOld('Second Old function');
            home.welcome('Hello word! See console.')